

/* GLOBAL STYLES */

:link { color:#685fa0; }  /* for unvisited links, also called "a:link" */
:visited { color: rgb(170, 140, 193); } /* for visited links, also called "a:visited" */
a:hover { color: rgb(200,200,240)} /* when mouse is over link */
a:active { color: rgb(225, 150, 192); } /* when link is clicked */
/* the order above MUST be observed */

/* OR you can specify these inside another element like so... */
body{ link:#33FFFF; vlink:#cc99ff; alink:#00cccc; }
/* actually it seems like these must be put in the html document as attributes in the body tag? */


p.footnote
{
color:#888888;
}

p.header
{
letter-spacing:0.1em;
font-family:quicksand,frutiger,univers,helvetica,arial,verdana,sans-serif;
}

p.box
{
margin-bottom: 2.0em;
}

div.rootwide
{ 
width:340px;
/*height:350px;*/
border:1px solid #e0e0e0;
padding:40px;
margin-left:auto; margin-right:auto;
margin-top:130px;
margin-bottom:130px;
text-transfrom:uppercase;
font-family:helvetica,arial,verdana,sans-serif;
}

div.rootwide p
{
text-align:left;
}

div.rootwide a:link
{
text-decoration:none;
}





/* HOMEPAGE STYLE */

body.home
{
margin-left:auto; margin-right:auto;
background-color:white;
background-image:none;
}

div.root
{ 
width:280px;
/*height:350px;*/
border:1px solid #e0e0e0;
padding:40px;
margin-left:auto; margin-right:auto;
margin-top:250px;
margin-bottom:250px;
text-transfrom:uppercase;
font-family:quicksand,frutiger,univers,helvetica,arial,verdana,sans-serif;
}

div.root a:link
{
text-decoration:none;
}

div.root table
{
/*margin-top:auto; margin-bottom:auto;*/
width:300;
height:250;
margin-left:auto; margin-right:auto;
border:0;
cellspacing:10;
cellpadding:20;
}

div.root tr
{
text-align:center
}




